<header >
  <p class="hey">HEY!</p>
  <div class="info">
    <h1>I'm Alexandra Hoefinger,</h1>
    <h2>a web developer, teacher, & maker</h2>

    <svg height="25" width="425" class="zigzag">
      <line x1="0" y1="0" x2="30" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="30" y1="25" x2="60" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="60" y1="0" x2="90" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="90" y1="25" x2="120" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="120" y1="0" x2="150" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="150" y1="25" x2="180" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="180" y1="0" x2="210" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="210" y1="25" x2="240" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="240" y1="0" x2="270" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="270" y1="25" x2="300" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="300" y1="0" x2="330" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="330" y1="25" x2="360" y2="0" style="stroke:white;stroke-width:3" />
      <line x1="360" y1="0" x2="390" y2="25" style="stroke:white;stroke-width:3" />
      <line x1="390" y1="25" x2="420" y2="0" style="stroke:white;stroke-width:3" />

    </svg>
    <nav>
      <div class="background"></div>
      <ul>
        <li><a href="/slides.html">Web Projects</a></li>
        <li ><a href="/slides.html">Presentations</a></li>
        <li><a href="/about.html">About</a></li>
        <li class="current"><a href="">Blog</a></li>
      </ul>
    </nav>
  </div>


</header>
