.site-header {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 80px;
  > * {
    display: inline-block;

  }
  .hey {
    font-family: 'Oswald', sans-serif;
    font-size: 240px;
    letter-spacing: 1px;
    line-height: 1;
    margin-bottom: 0;
  }
  .info {
    padding-left: 25px;
    // width: 40%;
    vertical-align: top;
    color: #bf97a6;
    position: relative;
    line-height: normal;
    h1 {
  color: #bf97a6;
  font-size: 40px;
  margin: 10px 0;
  line-height: normal;
}
h2 {
  color: white;
  font-size: 22px;
  line-height: normal;
  // font-weight: 300;
  margin: 0;
}
      .zigzag {
        opacity: .3;
        margin-top: 34px;
      }
      nav {
  display: block;
  text-align: center;
  padding: 12px 0px;
  line-height: normal;
  ul {
    margin: 0;
    line-height: normal;
      li {
        display: inline-block;
        list-style: none;
        padding: 5px;
        margin: 17px 8px;
        font-weight: 400;
        line-height: normal;
          &:hover {
            border-bottom: 1px solid #bf97a6;
            padding-bottom: 4px;
          }
          &.current {
          border-bottom: 1px solid #bf97a6;
          padding-bottom: 4px;
        }
        a {
          color: #bf97a6;
          font-size: 20px;
          border-bottom: none;

        }
      }
      }
}
  }
}

footer {
  padding-top:80px;
  margin-bottom: 0px;
  text-align: center;
  font-size: 22px;
  .zigzag {
    opacity: .3;
  }
  ul {
    margin: 0 auto;
    margin-top: 30px;
    li {
      display: inline-block;
      margin: 0 16px;
      a {
        border-bottom: none;
      }
      i {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 1120px) {

  footer {
    padding-top: 40px;
  }

}

@media (max-width: 640px) {
  body {
    padding: 8px;
  }
  .site-header {
    margin-bottom: 20px;
    .hey {
      font-size: 170px;
    }
    .info {
      padding-left: 0;
      .zigzag {
        width: 270px;
      }
      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 18px;
      }
    }


  }
  nav {
    padding-top: 20px;
    li {
      margin: 5px;
      padding: 0;
      a {
        font-size: 14px;
          &:hover, &.current {
            padding-bottom: 1px;
        }
      }
    }
  }
  footer {
    padding-bottom: 25px;
    .zigzag {
      width: 270px;
    }
  }
}


// .site-title {
//     font-size: 26px;
//     line-height: 56px;
//     margin-bottom: 0;
//     float: left;
//     border-bottom: none;
//     font-weight: 700;
// }

// .site-nav {
//     float: right;
//     line-height: 56px;

//     .menu-icon {
//         display: none;
//     }

//     .page-link {
//         color: $text-color;
//         line-height: $base-line-height;

//         &:not(:first-child) {
//             margin-left: 20px;
//         }
//     }

//     @include media-query($on-palm) {
//         position: absolute;
//         top: 9px;
//         right: 30px;
//         border: 1px solid $grey-color-light;
//         border-radius: 5px;
//         text-align: right;

//         .menu-icon {
//             display: block;
//             float: right;
//             width: 36px;
//             height: 26px;
//             line-height: 0;
//             padding-top: 10px;
//             text-align: center;

//             > svg {
//                 width: 18px;
//                 height: 15px;

//                 path {
//                     fill: $grey-color-dark;
//                 }
//             }
//         }

//         .trigger {
//             clear: both;
//             display: none;
//         }

//         &:hover .trigger {
//             display: block;
//             padding-bottom: 5px;
//         }

//         .page-link {
//             display: block;
//             padding: 5px 10px;
//         }
//     }
// }

.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    text-align: center;
    .social-links {
        display: inline-block;
        margin: 0 10px;
        li {
            display: inline-block;
            padding: 5px;
        }
        a {
            border-bottom: none;
            transition: all .2s;
            display: inline-block;
            &:hover {
                -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
        i {
            // vertical-align: bottom;
            font-size: 24px;
        }
    }
}

// .footer-heading {
//     font-size: 18px;
//     margin-bottom: $spacing-unit / 2;
// }

// .contact-list,
// .social-media-list {
//     list-style: none;
//     margin-left: 0;
// }

// .footer-col-wrapper {
//     font-size: 15px;
//     color: $grey-color;
//     margin-left: -$spacing-unit / 2;
//     @extend %clearfix;
// }

// .footer-col {
//     float: left;
//     margin-bottom: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
// }

// .footer-col-1 {
//     width: -webkit-calc(35% - (#{$spacing-unit} / 2));
//     width:         calc(35% - (#{$spacing-unit} / 2));
// }

// .footer-col-2 {
//     width: -webkit-calc(20% - (#{$spacing-unit} / 2));
//     width:         calc(20% - (#{$spacing-unit} / 2));
// }

// .footer-col-3 {
//     width: -webkit-calc(45% - (#{$spacing-unit} / 2));
//     width:         calc(45% - (#{$spacing-unit} / 2));
// }

// @include media-query($on-laptop) {
//     .footer-col-1,
//     .footer-col-2 {
//         width: -webkit-calc(50% - (#{$spacing-unit} / 2));
//         width:         calc(50% - (#{$spacing-unit} / 2));
//     }

//     .footer-col-3 {
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }

// @include media-query($on-palm) {
//     .footer-col {
//         float: none;
//         width: -webkit-calc(100% - (#{$spacing-unit} / 2));
//         width:         calc(100% - (#{$spacing-unit} / 2));
//     }
// }


// .page-content {
//     padding: $spacing-unit 0;
// }

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        // margin-bottom: 90px;
        .divider {
            padding: 30px 0;
            border-bottom: 3px solid;
            opacity: .3;
            text-align: center;
            width: 65%;
            margin: 0 auto;
            margin-bottom: 60px;
            @include media-query($on-palm) {
                padding: 15px 0;
                margin-bottom: 30px;
            }
        }
        
        &:last-child {
            .divider {
                display: none;
            }
        }
    }


}

.post-image {
      width: 100%;
      margin: 20px 0;
      display: block;
      border-radius: 6px;
}

.post-meta {
    font-size: 16px;
    color: white;
    margin-bottom: $spacing-unit/2;
}

.post-link {
    font-size: 24px;
    border-bottom: none;
}

.post-excerpt {
    border-bottom: none;
}


.post-header {
    margin-bottom: 20px;
}

.post-title {
    font-size: 28px;
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }

    img {
        border-radius: 6px;
    }
}
